.app{
  width: 100%;
}
.container{
  display: flex;
}

.header-div{
  background-color: aquamarine;
  margin-bottom: 0.5rem;
}

.side-nav{
  display: flex;
  justify-content: left;
  width:15%;
  height: 100%;
  background-color: aquamarine;
  margin-right: 0.5rem;
  padding:1rem
}

.main-content{
  background-color: cadetblue;
  width:85%;
  height: auto;
}

.footer{
  height: 50px;
  width:100%;
  background-color: cornsilk;
  margin-top: 0.5rem;
}